// Button icon alignment
.x-iconalign-left .x-button-label {
    margin-left: .6em;
}
.x-iconalign-right .x-button-label {
    margin-right: .6em;
}

.x-iconalign-top .x-button-label {
    margin-top: .6em;
}

.x-iconalign-bottom .x-button-label {
    margin-bottom: .6em;
}