/* 
    Document   : slidenav
    Created on : Apr 26, 2013, 3:09:46 PM
    Author     : SWARNENDU
    Description:
        Purpose of the stylesheet follows.
*/

/* For left side navigation */

.slide, .nav-list {
  -webkit-animation-duration: .200s;
  -webkit-transition-timing-function: cubic-bezier(0.275, 0.080, 0.425, 0.855);
  animation-duration: .200s;
  transition-timing-function: cubic-bezier(0.275, 0.080, 0.425, 0.855);
	z-index: 1;
  background: $white;
}

.x-toolbar{
    z-index: 1000 !important;
}

/* Main view LEFT */

@-webkit-keyframes slideoutRight {
    from { 
	   -webkit-transform: translateX(0px); 
    } to {
		-webkit-transform: translateX(250px); 
    }
}

@-webkit-keyframes slideinRight {
    from { 
        -webkit-transform: translateX(250px); 
    } to { 
        -webkit-transform: translateX(0px); 
    }
}

@keyframes slideoutRight {
  from { 
     transform: translateX(0px); 
  } to {
    transform: translateX(250px); 
  }
}

@keyframes slideinRight {
    from { 
        transform: translateX(250px); 
    } to { 
        transform: translateX(0px); 
    }
}

.slide.outRight {
    -webkit-animation-name: slideoutRight;
    -webkit-transform: translateX(250px);
    animation-name: slideoutRight;
    transform: translateX(250px);
}

.slide.inRight {
    -webkit-animation-name: slideinRight;
    -webkit-transform: translateX(0px);
    animation-name: slideinRight;
    transform: translateX(0px);
}

/* Main view LEFT ENDS */

/* Main view RIGHT */

@-webkit-keyframes slideoutLeft {
    from {
        -webkit-transform: translateX(0px);
    } to {
        -webkit-transform: translateX(-250px);
    }
}

@-webkit-keyframes slideinLeft {
    from {
        -webkit-transform: translateX(-250px);
    } to {
        -webkit-transform: translateX(0px);
    }
}

@keyframes slideoutLeft {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX(-250px);
    }
}

@keyframes slideinLeft {
    from {
        transform: translateX(-250px);
    } to {
        transform: translateX(0px);
    }
}

.slide.outLeft {
  -webkit-animation-name: slideoutLeft;
  -webkit-transform: translateX(-250px);
  animation-name: slideoutLeft;
  transform: translateX(-250px);
}

.slide.inLeft {
  -webkit-animation-name: slideinLeft;
  -webkit-transform: translateX(0px);
  animation-name: slideinLeft;
  transform: translateX(0px);
}

/*Main view RIGHT ENDS */

/* Nav menu view */

.nav-list {
  height: 100%;
  background: $white;
  position: absolute !important;
}

.shadowLeft{
  -webkit-box-shadow: inset -5px 5px 15px -4px rgba(0,0,0,1);
  box-shadow: inset -5px 5px 15px -4px rgba(0,0,0,1);
}

.shadowRight{
  -webkit-box-shadow: inset 5px 5px 15px -4px rgba(0,0,0,1);
  box-shadow: inset inset 5px 5px 15px -4px rgba(0,0,0,1);
}



.nav-list .x-list-item{
  color: $gray;
  border-bottom: 1px solid #000 !important;
  border-top: 1px solid #333 !important;
  font-size: 15px;
}

/* Nav menu view ENDS */

/* For left side navigation ENDS */