// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/base';
@import 'sencha-touch/base/all';
@include st-loading-spinner();

// Variables
$button-height: 40px;
$base-color: #2aaaea;
$secondaryColor: #4f83a5;
$black: #242424;
$white: #ffffff;
$gray: #bebebe;
$darkgray: #272822;
$include-default-icons: false;
$background-color: $white;

$turquoise: #1abc9c;
$green-sea: #16a085;

$emerald:      #2ecc71;
$nephritis:     #27ae60;

$peter-river:   #3498db;
$belize-hole:   #2980b9;

$amethyst:      #9b59b6;
$wisteria:      #8e44ad;

$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;

$sun-flower:    #f1c40f;
$orange:        #f39c12;

$carrot:        #e67e22;
$pumpkin:       #d35400;

$alizarin:      #e74c3c;
$pomegranate:   #c0392b;

$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;

// Main Colors
// -------------------------
$base:             $wet-asphalt;
$firm:             $turquoise;

$lightgray:        $silver;
$inverse:          $white;

$success:          $emerald;
$danger:           $alizarin;
$warning:          $sun-flower;
$info:             $peter-river;

$link-color:       $green-sea;
$link-hover-color: $turquoise;
$background-color: $white;

// Buttons
$button-text:           $inverse;
$button-hover:          mix($lightgray, white, 80%);
$button-active:         mix($lightgray, black, 85%);
$button-primary-hover:  mix($firm, white, 80%);
$button-primary-active: mix($firm, black, 85%);
$button-info-hover:     mix($info, white, 80%);
$button-info-active:    mix($info, black, 85%);
$button-success-hover:  mix($success, white, 80%);
$button-success-active: mix($success, black, 85%);
$button-danger-hover:   mix($danger, white, 80%);
$button-danger-active:  mix($danger, black, 85%);
$button-warning-hover:  overlay($warning, darken(white, 37.5%));
$button-warning-active: mix($warning, black, 85%);
$button-inverse-hover:  overlay($base, darken(white, 37.5%));
$button-inverse-active: mix($base, black, 85%);


// Typography
// -------------------------
$base-font-family: "Helvetica Neue", sans-serif;
$large-font-size: 18px;
$base-font-size: 14px;
$small-font-size: 12px;
$base-line-height: 1.231;

// skiMe theme
@import 'skiMeTheme/fonts/fontsVariables';
@import 'skiMeTheme/fonts/fonts';
@import 'skiMeTheme/fonts/mixins';
@import 'skiMeTheme/fonts/core';
@import 'skiMeTheme/fonts/extras';
@import 'skiMeTheme/fonts/icons';
@import 'skiMeTheme/pathMenu';
@import 'skiMeTheme/buttons';
@import 'skiMeTheme/toolbars';
@import 'skiMeTheme/slider';
@import 'skiMeTheme/fields';
@import 'skiMeTheme/fieldsets';
@import 'skiMeTheme/picker';
@import 'skiMeTheme/form';
@import 'skiMeTheme/panel';
@import 'skiMeTheme/list';
@import 'skiMeTheme/images';
@import 'skiMeTheme/skiMe';